@import 'bootstrap/variables.less';
@import 'bootstrap/mixins';
@import 'mixins.less';

#timeline {
  tbody {
    .exec {
      overflow: hidden;
      white-space: nowrap;

      &> div {
        .exec-borders();
        .exec-styles(@btn-success-bg);
        display: inline-block;
        height: 10px;

        &+ span {
          display: inline-block;
          margin-left: 10px;
          vertical-align: top;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
