#timeline {
  thead {
    th {
      cursor: pointer;

      &.sortColumnAsc {
        background: url('../images/asc2.gif') no-repeat right 8px;
      }

      &.sortColumnDesc {
        background: url('../images/desc2.gif') no-repeat right 12px;
      }
    }
  }
}
