@import 'mixins.less';

#timeline {
  table-layout: fixed;

  thead,
  tbody {
    tr {
      &> th,
      &> td {
        border-left: 1px solid #ddd;
        vertical-align: top;
      }

      &> th:first-child,
      &> td:first-child {
        border-left: none;
      }
    }
  }
}

#timeline {
  thead,
  tbody {
    tr {
      td, th {
        span {
          color: #aaa;
          display: block;
          font-size: 90%;
          font-weight: normal;
        }
      }
    }

  }

  tbody tr {
    td {
      span {
        display: none;
      }
    }

    &:hover {
      span {
        display: block;
      }
    }
  }
}

.timeline-col-2,
.timeline-col-3,
.timeline-col-4,
.timeline-col-12 {
  .timeline-col-gutter();
}

.timeline-col-2 {
  .timeline-col-width(2);
}

.timeline-col-3 {
  .timeline-col-width(3);
}

.timeline-col-4 {
  .timeline-col-width(4);
}

.timeline-col-12 {
  .timeline-col-width(12);
}
